<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png" />

    <link rel="stylesheet" href="/css/styles.css"/>

  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h1>{{heading}}</h1>
      <p>{{message}}</p>
    </div>
    {{>footer}}
  </body>

</html>
